@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

.logo-container {
    left: 25px;
    position: absolute;
    top: 10px;
    z-index: 3;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}

.logo-container .brand {
    font-size: 18px;
    color: #FFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}

body {
    /* background-color: #CCCCCC;*/
}

.bg-info {
    background-color: #f0f8ff !important;
    border-radius: 5%;
    padding: 50px;
    box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.bg-planSelect {
    background-color: #f0f8ff !important;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px 50px;
    box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.bg-terms {
    background-color: #f0f8ff !important;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 12px 1px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.section .wizard-card {
    min-height: inherit;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    font-weight: 500;
}



.title.text-center {
    margin-bottom: 50px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

.switch {
    margin-right: 20px;
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}

.space {
    height: 130px;
    display: block;
}

.space-110 {
    height: 110px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-70 {
    height: 70px;
    display: block;
}

.navigation-example .img-src {
    background-attachment: scroll;
}

.navigation-example {
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    min-height: 740px;
}

#notifications {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}

#notifications .alert-danger {
    margin-bottom: 0px;
}

.tim-note {
    text-transform: capitalize;
}

#buttons .btn {
    margin: 0 0px 15px;
}

.space-100 {
    height: 100px;
    display: block;
    width: 100%;
}

.be-social {
    padding-bottom: 20px;
    /*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}

.txt-white {
    color: #FFFFFF;
}

.txt-gray {
    color: #ddd !important;
}


.parallax {
    width: 100%;
    height: 570px;

    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.logo-container.logo-documentation {
    position: relative;
    top: 0;
    left: 0;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}


.navbar-default .logo-container .brand {
    color: #999999;
}

.navbar-transparent .logo-container .brand {
    color: #FFFFFF;
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img {
    width: 100%;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}

.fixed-section ul li {
    list-style: none;
}

.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}

.fixed-section li a.active {
    color: #00bbff;
}

.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.parallax .parallax-image img {
    width: 100%;
}

@media (max-width: 768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden;
    }

    .parallax .parallax-image img {
        height: 100%;
        width: auto;
    }
}

.separator {
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}

.separator-line {
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}

.separator.separator-gray {
    background-color: #EEEEEE;
}

.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.lightbox img {
    width: 100%;
}

.lightbox .modal-content {
    overflow: hidden;
}

.lightbox .modal-body {
    padding: 0;
}

@media screen and (min-width: 991px) {
    .lightbox .modal-dialog {
        width: 960px;
    }
}

@media (max-width: 768px) {

    .btn,
    .btn-morphing {
        margin-bottom: 10px;
    }

    .parallax .motto {
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4 {
    margin-bottom: 30px;
}

#javascriptComponents {
    padding-bottom: 0;
}

#javascriptComponents .btn-raised {
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container {
    display: block;
    margin-top: 50px;
    position: relative;
}

.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}

.section-black {
    background-color: #333;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.sharing-area {
    margin-top: 80px;
}

.sharing-area .btn {
    margin: 15px 4px 0;
    color: #FFFFFF;
}

.sharing-area .btn i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.sharing-area .btn-twitter {
    background-color: #55acee;
}

.sharing-area .btn-facebook {
    background-color: #3b5998;
}

.sharing-area .btn-google-plus {
    background-color: #dd4b39;
}

.sharing-area .btn-github {
    background-color: #333333;
}

.section-thin,
.section-notifications {
    padding: 0;
}

.section-navbars {
    padding-top: 0;
}

#navbar .navbar {
    border-radius: 0;
}

.section-tabs {
    background: #EEEEEE;
}

.previous-tabs {
    background: #A8DEF0;
    box-shadow: 0 10px 10px -10px rgba(179, 179, 179, 1), 0 -10px 10px -10px rgba(179, 179, 179, 1)
}

.section-pagination {
    padding-bottom: 0;
}

.section-download h4 {
    margin-bottom: 50px;
}

.section-examples a {
    text-decoration: none;
}

.section-examples h5 {
    margin-top: 30px;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}

.components-page .title,
.tutorial-page .title {
    color: #FFFFFF;
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.header-filter {
    position: relative;
}

.header-filter:before,
.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-filter .container {
    z-index: 2;
    position: relative;
}

.section {
    padding: 70px 0;
    background-position: center center;
    background-size: cover;
}



.navbar {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;

    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

.navbar .navbar-brand {
    position: relative;
    height: 50px;
    line-height: 30px;
    color: inherit;
    padding: 10px 15px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: inherit;
    background-color: transparent;
}

.navbar.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    padding-top: 25px;
}

.navbar-fixed-top {
    border-radius: 0;
}

.navbar .navbar-nav>li>a .material-icons,
.navbar .navbar-nav>li>a .fa {
    font-size: 20px;
    max-width: 20px;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
    color: inherit;
    background-color: transparent;
}

.navbar .navbar-nav>li>a:not(.btn) .material-icons {
    margin-top: -3px;
    top: 0px;
    position: relative;
    margin-right: 3px;
}

.navbar,
.navbar.navbar-default {
    background-color: #9c27b0;
    color: #FFFFFF;
}

.navbar .navbar-nav>li>a {
    color: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
}

@media (max-width: 1199px) {

    .navbar .navbar-brand {
        height: 50px;
        padding: 10px 15px;
    }

    .navbar .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

footer {
    padding: 15px 0;
    text-align: center;

}

.footer a {
    font-weight: bold;
}

footer.footer-documentation {
    margin-top: 0;
    bottom: 0;
    text-shadow: none;
    color: inherit;
}

footer.footer-documentation li a {
    color: inherit;
}

footer.footer-documentation li a:hover,
footer.footer-documentation li a:focus {
    color: #89229b;
}

footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}

footer ul li a:hover {
    text-decoration: none;
}

footer ul li .btn {
    margin: 0;
}

footer ul.links-horizontal:first-child a {
    padding-left: 0;
}

footer ul.links-horizontal:last-child a {
    padding-right: 0;
}

footer ul.links-vertical li {
    display: block;
}

footer ul.links-vertical li a {
    padding: 5px 0;
}

footer .social-buttons a,
footer .social-buttons .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer .footer-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: -15px;
}

footer .footer-brand:hover,
footer .footer-brand:focus {
    color: #3C4858;
}

footer .copyright {
    padding: 15px 0;
    text-align: center;
}

footer .copyright .material-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
}

footer .pull-center {
    display: inline-block;
    float: none;
}

@media (max-width: 768px) {
    .footer .copyright {
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        float: none !important;
        width: 100%;
    }

    .navbar.navbar-transparent {
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 10px;
        border-radius: 0;
    }

    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.loader-p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-send {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-valid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-valid_vendor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-search_plan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(206, 206, 206, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-help {
    width: 45px;
    filter: drop-shadow(0 2px 4px rgb(172, 173, 172));
}

.btn-help:focus,
.btn-help:active,
.btn-help:hover {
    filter: drop-shadow(0 7px 13px rgba(172, 173, 172));
}

.icon {
    width: 15px;
}

.table-prop-1 {
    background-color: #DDF3F8;
}

.table-prop-2 {
    background-color: #FFFFFF;
}

.table-prop-desc {
    text-align: justify;
}

.table-prop-head,
.table-prices {
    color: #FFFFFF;
    background-color: #408BC6;

}

.table-prop-head,
.table-prop-1,
.table-prop-2 {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 10px;
}

.table-agency {
    background-color: #E9E8E8;
    border-radius: 20px;
}

.table-prices {
    border-radius: 20px;
}

.sinn {
    font-weight: lighter;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
}

.gradient-bg {
    background: linear-gradient(to bottom, #0084CA, #00529D);
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
    color: #FFFFFF;
    padding-bottom: 1em;
}

.gradient-bg h6 {
    text-align: center;
    color: #FFD549;
}

.gradient-bg-rl {
    background: linear-gradient(to bottom, #0084CA, #00529D);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 1em;
}

.gradient-bg-rl h6 {
    text-align: center;
    font-size: 17px;
    font-weight: bold !important;
    color: #FFD549;
}
.gradient-bg-rl a {
    color: #FFFFFF;
}

.recepContract input[type="radio"] {
    display: none;
  }

  /* Estilo para el contenedor del input radio */
  .recepContract label {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
  }

  /* Estilo para el contenedor del input radio seleccionado */
  .recepContract input[type="radio"]:checked + label {
    background-color: #2196F3;
    color: white;
  }

  .codigo-input {
    display: flex;
    justify-content: space-between;
    width: 240px; /* Ajusta según tus preferencias */
    margin: 10px;
  }

  .codigo-caracter {
    padding: 3%;
    width: 40px; /* Ajusta según tus preferencias */
    height: 40px; /* Ajusta según tus preferencias */
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc; /* Ajusta según tus preferencias */
    border-radius: 5px; /* Ajusta según tus preferencias */
    margin-right: 5px; /* Ajusta según tus preferencias */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el desbordamiento del contenido */
  }

